# Configuración de Firma de Producción para Google Play Store
# Renombra este archivo a 'key.properties' en esta misma carpeta y completa tus credenciales:

storePassword=TU_PASSWORD_DE_KEYSTORE
keyPassword=TU_PASSWORD_DEL_ALIAS
keyAlias=upload
storeFile=/home/ramsescb/upload-keystore.jks
